# Python bytecode
*.pyc
__pycache__/

# Virtual Environment
.venv/
venv/

# Data Files - Prevent large datasets from being pushed
data/raw/*
data/processed/*

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# System Files
.DS_Store

# Model Checkpoints and Large Files
*.h5
*.ckpt

# testing folder
testing/

